.vs/EPandit/v14/.suo
EPandit.Api/bin/
EPandit.Api/obj/Debug/
EPandit.Repository/bin/
EPandit.Repository/obj/Debug/
packages/
EPandit.Shared/bin/
EPandit.Shared/obj/Debug/
EPandit.Service/obj/Debug/
EPandit.Service/bin/
